CompileFlags:
  Remove:
    - -Werror

Diagnostics:
  Suppress:
    - bugprone-sizeof-expression
    - readability-misleading-indentation
    - unused-includes

---

If:
  PathMatch: .*-t\.iop\.h
Diagnostics:
  Suppress:
    - -Wunknown-pragmas
