*.blk.c
*.c.tmp
*.fc.c
*.pyo
*.pyc
*.iop.h
*.iop.c
*.iop.json
*.iop.ts

.tags
.syntastic*
.local_vimrc.vim

/.build*
/.lock-waf*

mem.stack.data.*
mem.fifo.data.*

# buildbot artefacts/buildbot.supp
/buildbot.supp

# cython stuff
*.pxd
*.pyx.c
*.pyx.h
