*.blk.c
*.c.tmp
*.fc.c
*.pyo
*.pyc
*.iop.h
*.iop.c
*.iop.json
*.iop.ts

.tags
.syntastic*
.local_vimrc.vim
*~
.*.sw?

/.build*
/.lock-waf*
/.tool-versions

mem.stack.data.*
mem.fifo.data.*

# buildbot artefacts/buildbot.supp
/buildbot.supp

# cython stuff
*_pxc.pxd
*.pyx.c
*.pyx.h

# LSP related entries
/compile_commands.json
/iop_compile_commands.json
/.cache
